/*! minireset.css v0.0.6 | MIT License */ html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}




html {
  font-size: 1rem;
  font-family: 'News Cycle', serif;
  background-color: #606c7c;
}

body {
  padding:5rem 0;
  color:#ffffff;
}

a {
  text-decoration: underline;
  color: #606c7c;
}

a:hover {
  text-decoration: none;
  color: #606c7c;
}



    main {
        max-width:90em;
        margin:0 auto;
    }

.grid-set {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap:1.5rem;
  padding:0 1rem;
}


img {
    width: 100%;
}


    .grid-item {
  font-size: 1em;
  text-align: center;
  padding-top:1rem;

}




h1, h2, h3, h4, h5 {
  margin-bottom:.5rem;
    font-family: News Cycle
}

h1 {
  font-size: 45px;
  font-weight:700;
  font-family: News Cycle;
  letter-spacing: 5px;
}
h2 {
  font-size:1.75rem;
  font-family: News Cycle
}
h3 {
  font-size:1.5rem;
  font-weight:400;
  font-family: News Cycle
  color: #c9cfe4;

}


li {
  font-size: 1.25rem;
  font-family: 'News Cycle', serif;
  line-height: 1.5;
  padding: .5rem 0;
}

.artist-name {
  font-family: 'News Cycle', sans-serif;
  line-height: 1;
  font-weight:700;
  margin-top:.5rem;
}

.exhibit-title {
  color:#bac0d5;
}


p {
  font-family: 'News Cycle', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom:1rem;
}



